In [9]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from pathlib import Path
import time
import os
import json

In [7]:
dir = './rawData/Foursquare_global'
sub_dir = 'city_user_day_fix'
path = f'{dir}/{sub_dir}/res'
os.chdir(path)
num = 0
for f in sorted(os.listdir()):
    if f.endswith('.csv'):
        df = pd.read_csv(f)
        cnt = np.unique(df['traj_id'], return_counts=True)
        len_larger_4 = (cnt[1]>=4).sum()
        len_larger_6 = (cnt[1]>=6).sum()
        len_larger_8 = (cnt[1]>=8).sum()
        if len_larger_8 < 1000 and f[:-4] != 'New York':
            continue
        print(f'{f:>20} {len(df):08d} {len_larger_4:08d} {len_larger_6:08d} {len_larger_8:08d}')
        num += 1
print(num)

         Bangkok.csv 00635224 00029585 00005824 00001122
        Istanbul.csv 02776634 00076141 00010338 00001474
         Jakarta.csv 00938653 00033757 00007881 00003123
    Kuala Lumpur.csv 00927248 00043431 00008790 00001978
          Moscow.csv 00806196 00031782 00005850 00001064
        New York.csv 00289554 00013089 00002766 00000625
           Osaka.csv 00232315 00015024 00003969 00001129
       Shah Alam.csv 00627069 00031855 00006519 00001422
       Singapore.csv 00397873 00021375 00005529 00001355
           Tokyo.csv 00832527 00043809 00010038 00002179
10

In [9]:
need_cities = ['Bangkok', 'Istanbul', 'Jakarta', 'Kuala Lumpur', 'Moscow', 'New York', 'Osaka', 'Shah Alam', 'Singapore', 'Tokyo']
c_df = pd.read_csv("./rawData/Foursquare_global/dataset_TIST2015_Cities.txt", sep='\t', names=['city', 'c_lat', 'c_lon', 'c_countrycode', 'c_country', 'c_type'])
df = c_df[c_df['city'].isin(need_cities)]
df

,city,c_lat,c_lon,c_countrycode,c_country,c_type
142,New York,40.707864,-73.905237,US,United States,Other
200,Istanbul,41.066001,29.006002,TR,Turkey,Provincial capital
285,Moscow,55.749996,37.700002,RU,Russia,National and provincial capital
343,Bangkok,13.750002,100.516672,TH,Thailand,National and provincial capital
353,Kuala Lumpur,3.150000,101.708002,MY,Malaysia,National and provincial capital
354,Shah Alam,3.066696,101.549998,MY,Malaysia,Provincial capital
360,Singapore,1.268856,103.831795,SG,Singapore,National capital
383,Tokyo,35.683002,139.809007,JP,Japan,National and provincial capital
389,Osaka,34.635996,135.519004,JP,Japan,Provincial capital
403,Jakarta,-6.166665,106.800004,ID,Indonesia,National and provincial capital

In [12]:
dir = './rawData/Foursquare_global/city_user_day_fix/res/'
for f in tqdm(sorted(os.listdir(dir))):
    if f.endswith('csv'):
        new_f = f.replace(" ", "_")
        os.rename(os.path.join(dir, f), os.path.join(dir, new_f))

100%|██████████| 414/414 [00:01<00:00, 263.49it/s]

In [ ]:
TEST_CITY = ['New York']
TEST_CITY = [c.replace(" ", "_") for c in TEST_CITY]
TEST_CITY

['New_York']

In [ ]:
data = 'New York'
city = data.replace(" ", "_")
city

'New_York'

In [14]:
df = pd.read_csv(f'./rawData/Foursquare_global/city_user_day_fix/res/{city}.csv')
df.head()

,user,location_id,t,offset,t_len,check-in_time,day,p_lat,p_lon,p_type,...,city,c_lat,c_lon,c_countrycode,c_country,c_type,hour,hour_offset,ori_id,traj_id
0,1,4e753db3c65bb91db4493d78,Tue Apr 03 18:19:17 +0000 2012,-240,30,2012-04-03 14:19:17,2012-04-03,40.694475,-73.678415,Bar,...,New York,40.707864,-73.905237,US,United States,Other,19.0,10.0,0,0
1,1,4e753db3c65bb91db4493d78,Wed Apr 04 00:15:17 +0000 2012,-240,30,2012-04-03 20:15:17,2012-04-03,40.694475,-73.678415,Bar,...,New York,40.707864,-73.905237,US,United States,Other,21.0,14.0,1,0
2,1,4beed97de24d20a1f2777314,Fri Apr 06 15:09:58 +0000 2012,-240,30,2012-04-06 11:09:58,2012-04-06,40.743725,-73.694540,Diner,...,New York,40.707864,-73.905237,US,United States,Other,11.0,8.0,2,1
3,1,4cc36d0ad43ba143071c60f8,Sat Apr 07 12:47:05 +0000 2012,-240,30,2012-04-07 08:47:05,2012-04-07,40.689390,-73.685479,Thrift / Vintage Store,...,New York,40.707864,-73.905237,US,United States,Other,13.0,13.0,3,2
4,1,4e753db3c65bb91db4493d78,Sun Apr 08 12:17:45 +0000 2012,-240,30,2012-04-08 08:17:45,2012-04-08,40.694475,-73.678415,Bar,...,New York,40.707864,-73.905237,US,United States,Other,8.0,4.0,4,3

In [21]:
# val, cnt = np.unique(df['traj_id'].to_numpy(), return_counts=True)
traj_id_f = np.unique(cnt[0][np.where(cnt[1]>=6)[0]])
df_f = df[df['traj_id'].isin(traj_id_f)]
df_f.head()

,user,location_id,t,offset,t_len,check-in_time,day,p_lat,p_lon,p_type,...,city,c_lat,c_lon,c_countrycode,c_country,c_type,hour,hour_offset,ori_id,traj_id
4,1,4e753db3c65bb91db4493d78,Sun Apr 08 12:17:45 +0000 2012,-240,30,2012-04-08 08:17:45,2012-04-08,40.694475,-73.678415,Bar,...,New York,40.707864,-73.905237,US,United States,Other,8.0,4.0,4,3
5,1,4c597bc36407d13a343cb228,Sun Apr 08 13:09:45 +0000 2012,-240,30,2012-04-08 09:09:45,2012-04-08,40.694341,-73.678324,Grocery Store,...,New York,40.707864,-73.905237,US,United States,Other,22.0,25.0,5,3
6,1,4dad024da86e7fc66e28dc28,Sun Apr 08 15:41:33 +0000 2012,-240,30,2012-04-08 11:41:33,2012-04-08,40.694416,-73.675675,Gas Station / Garage,...,New York,40.707864,-73.905237,US,United States,Other,16.0,28.0,6,3
7,1,4cc36d0ad43ba143071c60f8,Sun Apr 08 19:31:28 +0000 2012,-240,30,2012-04-08 15:31:28,2012-04-08,40.689390,-73.685479,Thrift / Vintage Store,...,New York,40.707864,-73.905237,US,United States,Other,14.0,6.0,7,3
8,1,4cdaf5424006a143c63fd5b2,Sun Apr 08 20:56:15 +0000 2012,-240,30,2012-04-08 16:56:15,2012-04-08,40.690343,-73.685501,Arts & Crafts Store,...,New York,40.707864,-73.905237,US,United States,Other,18.0,3.0,8,3

In [46]:
df_f = df_f.sort_values(by = ['user', 'day', 'check-in_time']).reset_index(drop=True)
pois = np.unique(df_f['location_id'])
pois_id_dict = dict(zip(pois, range(len(pois))))
df_f['poi_id'] = df_f['location_id'].apply(lambda x:pois_id_dict[x])
Path('./rawData/Foursquare_global/city_user_day_fix/cities/').mkdir(parents=True, exist_ok=True)
df_f.to_csv(f'./rawData/Foursquare_global/city_user_day_fix/cities/{city}_f.csv', index=False)
grouped = df_f.groupby(['user', 'day'])
u_l, seq_l, t_l = [], [], []
for name, g in grouped:
    u_l.append(g['user'].values.tolist()[0])
    seq_l.append(g['poi_id'].values.tolist())
    t_l.append(g['check-in_time'].values.tolist())
len(u_l), len(seq_l), len(seq_l)

(2766, 2766, 2766)

In [49]:
m_tes_tra_ratio, m_tes_val_ratio, m_tes_tes_ratio = 0.7, 0.1, 0.2
all_idx = [i for i in range(len(seq_l))]
np.random.shuffle(all_idx)
if city in TEST_CITY:
    tra_idx = all_idx[ : int(len(seq_l) * m_tes_tra_ratio)]
    tra_user = [u_l[id] for id in tra_idx]
    tra_path = [seq_l[id] for id in tra_idx]
    tra_tim = [t_l[id] for id in tra_idx]
    
    val_idx = all_idx[int(len(seq_l) * m_tes_tra_ratio) : int(len(seq_l) * (m_tes_tra_ratio + m_tes_val_ratio))]
    val_user = [u_l[id] for id in val_idx]
    val_path = [seq_l[id] for id in val_idx] 
    val_tim = [t_l[id] for id in val_idx]

    tes_idx = all_idx[int(len(seq_l) * (m_tes_tra_ratio + m_tes_val_ratio)):] 
    tes_user = [u_l[id] for id in tes_idx]
    tes_path = [seq_l[id] for id in tes_idx]
    tes_tim = [t_l[id] for id in tes_idx]
    
data = {'tra_user': tra_user, 'tra_path': tra_path, 'tra_tim': tra_tim, 
        'val_user': val_user, 'val_path': val_path, 'val_tim': val_tim,
        'tes_user': tes_user, 'tes_path': tes_user, 'tes_tim': tes_user}
data_str = json.dumps(data)
with open(f'./rawData/Foursquare_global/city_user_day_fix/cities/{city}_split.json', 'w') as file:
    file.write(data_str)